.peed_more_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* 투명도 10%의 검은색 배경 */

    z-index: 1; /* 모달 창보다 아래에 위치 */
}

.peed_more_container {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;

    background: #ffffff;
    border-radius: 5px;

    z-index: 2; /* 모달 창보다 위에 위치 */
}

.peed_more_left {
    position: fixed;
    width: 55%;
    height: 100%;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.peed_more_right {
    position: fixed;
    width: 45%;
    height: 100%;

    margin-left: 55%;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.peed_more_media {
    position: fixed;
    width: 55%;
    height: 100%;
    object-fit: cover;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.peed_more_top_section{
    /*중앙정렬*/
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;

    font-size: 15px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    flex-wrap: wrap;

    /*드래그 방지*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.peed_more_profile{
    width: 35px;
    height: 35px;

    border-radius: 100%;

    margin: 10px 15px;

    cursor: pointer;
}

.peed_more_name{
    color: black;

    font-size: 0.9rem;
    font-weight: bold;
}

.follow_btn{
    font-size: 0.9rem;

    color: #0095f6;
    font-weight: bold;

    cursor: pointer;
}

.follow_btn:hover{
    color: #073e59;
}

.peed_more_option{
    font-size: 1.2rem;

    background-color: #ffffff;
    border: none;

    cursor: pointer;
}

.peed_mor_middle_section{
    height: 70%;
    overflow-y: auto;

}


.peed_more_context{
    /*중앙정렬*/
    display: flex;
    height: 10%;
    width: 100%;

    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 15px;
}

.peed_more_text {
    width: auto;

    word-wrap: break-word;
}

@media screen and (min-width: 600px) {
    .peed_more_option {
        margin-left: auto;
    }
}
