.peed_more_context{
    /*중앙정렬*/
    display: flex;
    height: 10%;
    width: 100%;

    font-size: 15px;
}

.peed_comment_text{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.comment_like {
    display: flex;
    justify-content: center;
    align-items: center;

    margin : 10px 10px;
}

.comment_like_btn {
    display: inline-block;
    font-size: 20px;
    background-color: white;
    border: none;
}

.comment_like_btn.clicked {
    color: #ce2cce;
    animation: shake 0.5s ease-in-out;
}