.peed_more_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* 투명도 10%의 검은색 배경 */

    z-index: 1; /* 모달 창보다 아래에 위치 */
}

.peed_more_container {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;

    background: #ffffff;
    border-radius: 5px;

    z-index: 2; /* 모달 창보다 위에 위치 */
}

.peed_more_left {
    position: fixed;
    width: 55%;
    height: 100%;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.peed_more_right {
    position: fixed;
    width: 45%;
    height: 100%;

    margin-left: 55%;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.peed_more_media {
    position: fixed;
    width: 55%;
    height: 100%;
    object-fit: cover;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.peed_more_top_section{
    /*중앙정렬*/
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;

    font-size: 15px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    flex-wrap: wrap;

    /*드래그 방지*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.peed_more_profile{
    width: 35px;
    height: 35px;

    border-radius: 100%;

    margin: 10px 15px;

    cursor: pointer;
}

.peed_more_name{
    color: black;

    font-size: 0.9rem;
    font-weight: bold;
    margin-right: 5px;
}

.follow_btn{
    font-size: 0.9rem;

    color: #0095f6;
    font-weight: bold;

    margin-left: 5px;

    cursor: pointer;
}

.follow_btn:hover{
    color: #073e59;
}

.peed_more_option{
    font-size: 1.2rem;

    background-color: #ffffff;
    border: none;

    cursor: pointer;
}

.peed_mor_middle_section{
    height: 65%;
    overflow-y: auto;

}

li{
    margin-bottom: 10px;
}


.peed_more_text{
    margin-top: 10px;
    margin-bottom: 10px;

    word-wrap: break-word;
}

/*흔들리는 애니메이션*/
@keyframes shake {
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(20deg);
    }
    40%{
        transform: rotate(-20deg);
    }
    60%{
        transform: rotate(20deg);
    }
    80%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.comment_footer{
    font-size: 13px;

    margin-left: 65px;

    cursor: pointer;
}

/*좌우 너비 주기*/
.comment_like_sum,
.comment_option{
    margin: 10px;
}

.peed_more_bottom_section{
    display: flex;
    height: 8%;

    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.peed_more_like_icon{
    font-size: 30px;

    background-color: white;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;

    border: none;
}

.peed_more_comment_icon,
.peed_more_share_icon,
.peed_more_save_icon{
    font-size: 30px;

    background-color: white;

    margin: 10px 5px;

    border: none;
}

.peed_more_save_icon{
    font-size: 30px;

}


.peed_more_like_icon:hover,
.peed_more_comment_icon:hover,
.peed_more_share_icon:hover,
.peed_more_save_icon:hover{
    color: darkgrey;
    cursor: pointer;
}

.peed_more_like_icon.clicked{
    color: #ce2cce;
    animation: shake 0.5s ease-in-out;
}

.peed_more_liked_user{
    margin-left: 15px;

    font-size: 14px;
}

.peed_more_time{
    height: 20px;

    font-size: 10px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.peed_comment_form{
    height: 10%;

    background-color: blue;
}

@media screen and (min-width: 600px) {
    .peed_more_option {
        margin-left: auto;
    }
}
